* {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    border: 4px solid black;
    width: 825px;
    margin: 48px auto;
}

.card {
    display: flex;
    gap: 40px;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.product-title {
    font-size: 22px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
}

.product-title::before {
    color: #fff;
    content: 'sale';
    background-color: #ec2f2f;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 6px 12px;
    position: absolute;
    top: -18px;
    left: -36px;
}

.product-img {
    width: 250px;
    height: 250px;
    float: left;
}

.product-description {
    margin-bottom: 12px;
}

.product-info {
    width: 240px;
    margin-top: 20px;
    flex: 1 0 auto;
}

.product-details {
    width: 240px;
    margin-top: 20px;
    flex: 1 0 auto;
}

.price {
    font-size: 24px;
}

.shipping {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin: 8px 0 0;
}

.more-info:link,
.more-info:visited {
    color: #444;
}

.more-info:hover,
.more-info:active {
    text-decoration: none;
}

.details-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.details-list {
    margin-left: 20px;
    list-style: square;
}

.details-list li {
    margin-bottom: 12px;
}

.add-to-cart {
    padding: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.add-to-cart:hover {
    border-top: black solid 4px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.colored-squares {
    display: flex;
    margin: 16px 0;
    gap: 12px;
}

.square {
    flex: 0 0 20px;
    height: 20px;
}

.square-black {
    background-color: #000;
}

.square-blue {
    background-color: #2f6ee2;
}

.square-red {
    background-color: #ec2f2f;
}

.square-yellow {
    background-color: #f0bf1e;
}

.square-green {
    background-color: #90cc20;
}

.square-brown {
    background-color: #885214;
}

.product-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
